// Add your own CSS here!

:root {
  --light: #F6F6F6;
  --dark: #398AB9;
  --secondary: #1C658C;
  --tertiary: #3F4E4F;
  --visited: #D8D2CB;
  --primary: #F15412;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}



